body {
    box-sizing: border-box;
}

.header {
    height: 20vh;
    background-color: #264C77;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.h1, .h2, .h3 {
    font-family: 'Poppins', sans-serif;
}

.header__wrapperphoto {
    background-image: url("../Images/Photo\ CV\ sans\ fond.png"), linear-gradient(180deg, #E0EAF5 0%, #243C54 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    border-radius: 50%;
    border: 0.4rem solid white;
    width: 15vh;
    height: 15vh;
}

.header__wrappertitre {
    color: white;
    margin-left: 3rem;
}

.header__h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.header__h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh;
}

.main__wrapperg {
    width: calc(100%/3);
    background-color: #E0EAF5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__wrapperg__titre {
    font-weight: 500;
    font-size: 2rem;
    color: #264C77;
    margin-bottom: 1.2rem;
}

.main__wrapperd {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

