.body {
    --res: 0.1vmin;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* height: 100vh;
    width: 100vw; */
}

.header {
    height: 20vh;
    background-color: #264C77;
    display: flex;
    align-items: center;
    /* padding-left: 2rem; */
    padding-left: calc(32 * var(--res)) ;
}

.h1, .h2, .h3 {
    font-family: 'Poppins', sans-serif;
}

.header__wrapperPicture {
    background-image: url("../Images/Photo\ CV\ sans\ fond.png"), linear-gradient(180deg, #E0EAF5 0%, #243C54 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    border-radius: 50%;
    /* boder en 0.4rem de base */
    border: calc(6 * var(--res)) solid white;
    width: 17vmin;
    height: 17vmin;
}

.header__title {
    color: white;
    /* margin-left: 3rem; */
    margin-left: calc(48 * var(--res));
}

.header__h1 {
    /* font-size: 4rem; */
    font-size: calc(64 * var(--res));
    font-weight: 600;
    /* margin de 1.2rem */
    margin-bottom: calc(19 * var(--res));
}

.header__h2 {
    font-family: 'Noto Sans', sans-serif;
    /* font-size: 2rem; */
    font-size: calc(32 * var(--res));
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

.wrapperD {
    /* padding: 2rem; */
    padding: calc(32 * var(--res));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(200vw/3);
    /* height: 100vh; */
}

.exp__title,
.formation__title {
    display: inline-block;
    font-weight: 500;
    /* font-size: 2rem; */
    font-size: calc(32 * var(--res));
    color: white;
    background-color: #264C77;
    padding: 0.5rem;
    /* margin de 1.2rem */
    margin-bottom: calc(19 * var(--res));
}

.exp__time,
.formation__time {
    font-weight: 400;
    /* font-size: 1rem; */
    font-size: calc(16 * var(--res));
    color: #264C77;
    line-height: normal;
}

.exp__subtitle,
.formation__subtitle {
    font-weight: 500;
    color: #264C77;
    /* font-size: 1.2rem; */
    font-size: calc(19 * var(--res));
    line-height: normal;
}

.wrapperG {
    width: calc(100vw/3);
    /* height: 100vh; */
    background-color: #E0EAF5;
    /* padding: 2rem; */
    padding: calc(32 * var(--res));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__title,
.softSkills__title,
.skills__title,
.languages__title,
.contact__title {
    font-weight: 500;
    /* font-size: 2rem; */
    font-size: calc(32 * var(--res));
    color: #264C77;
    /* margin-bottom: 1.2rem; */
    margin-bottom: calc(19 * var(--res));
}

.exp__description,
.formation__description,
.about__description,
.softSkills__element,
.skills__element,
.languages__description,
.contact__element {
    /* font-size: 1rem; */
    font-size: calc(16 * var(--res));
    font-weight: 400;
    /* margin-bottom: 0.8rem; */
    margin-bottom: calc(12 * var(--res));;
    line-height: normal;
}



/* Mobile + */
@media (min-width: 400px) {
    
}


/* Phablets */
@media (min-width: 550px) { /* ... */ }

/* Tablettes */
@media (min-width: 750px) { /* ... */ }

/* Desktop */
@media (max-width: 1100px) {
    .main {
        height: 80vh;
    }
}

/* Desktop HD */
@media (min-width: 1200px) { /* ... */ }

/* Desktop Wide */
@media (min-width: 1400px) { /* ... */ }