.body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vh;
}

.header {
    height: 20vh;
    background-color: #264C77;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.h1, .h2, .h3 {
    font-family: 'Poppins', sans-serif;
}

.header__wrapperPicture {
    background-image: url("../Images/Photo\ CV\ sans\ fond.png"), linear-gradient(180deg, #E0EAF5 0%, #243C54 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    border-radius: 50%;
    border: 0.4rem solid white;
    width: 15vh;
    height: 15vh;
}

.header__title {
    color: white;
    margin-left: 3rem;
}

.header__h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.header__h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh;
}

.wrapperD {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.exp__title,
.formation__title {
    display: inline-block;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    background-color: #264C77;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
}

.exp__time,
.formation__time {
    font-weight: 400;
    font-size: 1rem;
    color: #264C77;
    line-height: normal;
}

.exp__subtitle,
.formation__subtitle {
    font-weight: 500;
    color: #264C77;
    font-size: 1.2rem;
    line-height: normal;
}

.wrapperG {
    width: calc(100vh/3);
    background-color: #E0EAF5;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__title,
.softSkills__title,
.skills__title,
.languages__title,
.contact__title {
    font-weight: 500;
    font-size: 2rem;
    color: #264C77;
    margin-bottom: 1.2rem;
}

.exp__description,
.formation__description,
.about__description,
.softSkills__element,
.skills__element,
.languages__description,
.contact__element {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
    line-height: normal;
}



/* Mobile + */
@media (min-width: 400px) { /* ... */ }

/* Phablets */
@media (min-width: 550px) { /* ... */ }

/* Tablettes */
@media (min-width: 750px) { /* ... */ }

/* Desktop */
@media (min-width: 1000px) { /* ... */ }

/* Desktop HD */
@media (min-width: 1200px) { /* ... */ }

/* Desktop Wide */
@media (min-width: 1400px) { /* ... */ }